

/* Attempting to fix a small bug where html elements are
visible 2 or 3 milliseconds at the page loading, which is very
ugly */

body.fade_in { display: none; } 



/* Attempting a reset */

body {
   
    padding: 0;
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 95%);
}



/* The layout of the box containing the three offers */
/* With Responsive design */

@media only screen and (max-width: 768px) {
    .mainbox {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 0px 50px;
        grid-template-areas:
        "sedanbox"
        "suvsbox"
        "luxurybox";
        
        }
}

@media only screen and (min-width: 769px) {
    .mainbox {
        display: grid;
        
        grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
        grid-template-rows: 0.5fr 2fr 0.5fr;
       
        grid-template-areas:
        ". . . . ."
        ". sedanbox suvsbox luxurybox ."
        ". . . . .";
        
        }
}

/* The layout that will apply to each of three offer so they 
an have the exact same appearance */
/* With Responsive design */
@media only screen and (max-width: 768px) {
    .boxcontainer {
        display: grid;
        grid-template-columns: 0fr 1fr 2fr 0.5fr;
        grid-gap: 2px;
        
        grid-template-rows: 0.15fr 0.15fr 0.5fr 0.8r 1fr;
        grid-template-areas: 
        ". logo logo ."
        ". title . ."
        ". text text ."
        ". . . ."
        ". button button button";
    }
}
@media only screen and (min-width: 769px) {
    .boxcontainer {
        display: grid;
        grid-template-columns: 0.5fr 1fr 2fr 0.5fr;
        grid-gap: 2px;
        
        grid-template-rows: 0.15fr 0.15fr 0.5fr 0.8r 1fr;
        grid-template-areas: 
        ". logo logo ."
        ". title . ."
        ". text text ."
        ". . . ."
        ". button button button";
        
    }
}




/* Individual parameters for each of the three offers */

.sedanbox {
    grid-area: sedanbox;
    background-color: hsl(31, 77%, 52%);
    
    
}

.suvsbox {
    grid-area: suvsbox;
    background-color: hsl(184, 100%, 22%);
    

}

.luxurybox {
    grid-area: luxurybox;
    background-color: hsl(179, 100%, 13%);
    
}


/* Parameters for each pieces that will display, so: The Logo, The Title, 
The Text and the Button that will display 
on every offer the exact same way */


.Texttitle {
    display: flex;
    color: hsl(0, 0%, 95%);
    grid-area: title;
    padding: 50px;
    margin-bottom: -20px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2em;
    font-weight: bold;
    
}

.TextDesc {
    display: flex;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    grid-area: text;
    position: relative;
    padding: 50px;
    font-size: 1em;
    max-width: 80%;
    max-height: 80%;
    margin-bottom: 100px;
    font-weight: bolder;
    
}

.Button {
    width: 10em;
    height: 3em;
    border-radius: 100px;
    margin: 50px;
    grid-area: button;
    background-color: hsla(0, 0%, 100%, 0.75);
    border: none;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    
}



.logo {
    position: flex;
    margin: 50px;
    width: 10.5em;
    height: 6.5em;
    grid-area: logo;
}



/* Individual parameters for each of the three buttons (didn't 
managed to do a text transparency in the button that display 
the box below the button's) */

#SedanButton {
    color: hsl(31, 77%, 52%);
}

#SUVSButton {
    color: hsl(184, 100%, 22%);
}

#LuxuryButton {
    color: hsl(179, 100%, 13%);
}



/* Small hover parameter for the buttons to look better */
.Button:hover {
    
    background-color: hsla(0, 2%, 61%, 0.75);
    
}
